
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8 ">
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container [matColumnDef]="columnName(column)" *ngFor="let column of columnDef; let i = index;">
        
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column.name}} </th>
        <td mat-cell class="mat-cell2" *matCellDef="let row"
         [class.selectedrows]="FilledCell(column.name,row['id'])"
         [class.selectedcells]="FilledSelectedCell(column.name,row['id'])"
         (click)="SelectedCell(row['id'],column.name)"         
         >
         <ng-container *ngIf="i==0">
          <div class="divColor"
           [style.backgroundColor]="(SelectedRow(row['id']))? getColorRow(row['id']): 'white'"></div>
          </ng-container>
          
          {{row[column.name]}} 
          <ng-container *ngIf="complexView">
           <br> {{row['complexValue']}}
          </ng-container>


        
          <ng-container *ngIf="i==0">
           <a href="{{row['link'].url}}"> 
              <button class="linkIcon" mat-icon-button
                  matTooltipClass="Tooltip"
                  matTooltip="{{row['link'].toolText}}"
                  matTooltipPosition="right" >
                         <mat-icon>launchs</mat-icon>
              </button>
            </a>
          </ng-container>
        </td>
      </ng-container>   
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<div class="chart">
    <canvas baseChart 
        [datasets]="lineChartData" 
        [labels]="lineChartLabels" 
        [options]="lineChartOptions" 
        [legend]="false"
        chartType="line" >
    </canvas>
</div>


