table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.table-container {
  height: 400px;
  overflow: auto;
}

.selectedcells {
  background-color: DodgerBlue;

}

.selectedrows {
    background-color: #efefef;
}

.divColor {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  display: inline-block;
  margin-right: 5px;
  align-content: center; 
  float: left;
}

.linkIcon {
  color: white;
  float: right;
}

.linkIcon:hover  {
 color : DodgerBlue;
 float: right;
}

.Tooltip {
  background:DodgerBlue;
}
.mat-cell{ 
  padding: 5px  !important;
  vertical-align: center !important;
}

td {
 vertical-align: center !important;
}

.chart {
  margin: 20px;
}

